<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

<hr>
<center><h1 style="font-family:sufficit;">TEXT COVERTOR ONLINE</h1></center>
<hr>

<font size="15" style="font-family:sufficit;">WELCOME! Enter Your Text Below :</font>
<form action="/analyze" method="get">
    <textarea name="text" style="width: 682px; height: 211px;"></textarea><br>
    <input type="checkbox" name="removepunc">REMOVE PUNCTUATIONS
    <input type="checkbox" name="fullcap">UPPER CASE
    <input type="checkbox" name="newlineremover">REMOVE NEW LINES
    <input type="checkbox" name="extraspaceremover">REMOVE EXTRA SPACES
    <input type="checkbox" name="charcounter">COUNT CHARACTERS<br>

 <button type="submit">ANALYZE TEXT</button>

</form>






<hr>
<hr>
<p>
    HELLO FROM <b>JASIR JABBAR!<b> <br>
          <b>THIS IS JASIR'S FIRST DJANGO PROJECT HERE ARE SOME OF THE PAGE WHCIH YOU CAN TRY OR VIST :<b><br>
                        <a href="http://127.0.0.1:8000/about"><h1>ABOUT THIS DJANGO WEBPAGE</h1></a>
                         <br>
                         <a href="http://127.0.0.1:8000/navigator"><h1>SOCIAL LINKS NAVIGATOR</h1></a>
</p>


</body>
</html>